/* NAVBAR PERSONALIZADA */

.mb- {
    display: flex;
    gap: 10px;
    /* Espaciado opcional entre las imágenes */
    align-items: center;
}

.navbar {
    background-color: #000;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}

.navbar img {
    height: 40px;
    filter: brightness(1.5);
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: beige !important;
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #3399ff !important;
    text-decoration: underline;
    transition: 0.3s ease;
}

.navbar .nav-item {
    margin: 0 8px;
}

.navbar .form-control {
    background-color: transparent;
    color: beige;
    border: 1px solid beige;
    border-radius: 5px;
    padding: 6px 10px;
}

.navbar .form-control::placeholder {
    color: #ccc;
}

.navbar .form-control:focus {
    background-color: transparent;
    color: white;
    border-color: beige;
    outline: none;
}

.btn-buscar {
    background-color: beige;
    color: black;
    border: 2px solid beige;
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-buscar:hover {
    background-color: transparent;
    color: beige;
    transform: scale(1.05);
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* RESPONSIVE PARA PANTALLAS PEQUEÑAS */
@media (max-width: 768px) {
    .navbar {
    padding: 8px 15px;
    }

    .navbar img {
      height: 30px; /* Logo más pequeño en celular */
    }

    .navbar .nav-link {
    font-size: 1rem;
    text-align: center;
    padding: 8px 0;
    }

    .navbar .nav-item {
    margin: 5px 0;
    }

    .social-icons {
    justify-content: center;
    margin-top: 10px;
    }

    .social-icons img {
    height: 30px;
    }
}



