body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 50px auto 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1 0 auto; /* Esto es MUY importante */
}

/* El footer */
.footer {
    flex-shrink: 0;
}



/* Estilo para la sección de términos */
.terms-section {
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 5px;
    margin-top: 20px;
}

/* Enlaces */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
