/* Topbar superior personalizada */
.topbar {
    background-color: #333333;
    font-size: 0.9rem;
    color: #fff;
    padding: 4px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .topbar-left img {
    height: 30px;
    filter: brightness(1.8);
  }
  
  .topbar a {
    color: beige;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .topbar a:hover {
    color: #3399ff !important;
    text-decoration: underline;
  }
  
  .topbar-right span {
    color: #888;
  }