/* General */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/nike12.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: bisque;
    line-height: 1.6;
}

/* Navbar personalizada */
.navbar {
    background-color: #000;
    padding: 10px 20px;
  }
  
  .navbar img {
    height: 40px;
    filter: brightness(1.5);
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: beige !important;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .navbar .nav-link:hover,
  .navbar .navbar-brand:hover {
    color: blue !important; /* Cambiado a azul lo de botones de inicio, mujer, etc*/
    text-decoration: underline;
  }
  
  .navbar .dropdown-menu {
    background-color: beige;
  }
  
  .navbar .dropdown-item {
    color: beige;
  }
  
  .navbar .dropdown-item:hover {
    background-color: #222;
    color: blue;
  }
  

  
  
  /* Estilos del botón de búsqueda */
.btn-buscar {
    background-color: beige;  /* Color de fondo beige */
    color: beige;             /* Texto beige */
    border: 2px solid beige;  /* Borde beige */
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: all 0.3s ease; /* Suaviza cualquier cambio al pasar el mouse */
    display: inline-block;   /* Asegura que se muestre siempre */
  }
  
  /* Estilo cuando pasas el mouse por encima */
  .btn-buscar:hover {
    background-color: beige;  /* Se mantiene el mismo color */
    color: transparent;             /* El color del texto se hace transparente */
    border: 2px solid beige;  /* El borde no cambia */
    transform: scale(1.05);    /* Efecto de aumento al pasar el mouse */
    cursor: pointer;         /* El cursor cambia para mostrar que es un botón interactivo */
  }

  /* Estilo para el campo de búsqueda */

  
  /* Estilo cuando el usuario escribe en el campo */
  .navbar .form-control:focus {
    color: white; /* Asegurarse de que el texto siga siendo claro cuando se hace foco */
    background-color: transparent; /* Mantener fondo transparente */
    border: 1px solid beige; /* Mantener el borde en color beige */
  }

  .seccion-principal {
    text-align: center;
    padding: 80px 20px;
  }
  
  .seccion-principal h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .seccion-principal p {
    font-size: 1.2rem;
  }
  
  .seccion-principal button {
    background-color: beige;
    color: black;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .seccion-principal button:hover {
    background-color: blue;
}

.seccion-principal button {
    background-color: #111;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seccion-principal button:hover {
    background-color: #333;
}